.form-container {
  display: flex;
  margin: auto;
  width: 600px;
  gap: 20px;
  align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    width: 500px;
    height: 300px;
    background: #e9e9e9;
    padding: 30px 20px;
    gap: 20px;
    border-radius: 5px;
}

.q-form-header {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 25px;

}

.q-form-title {
    height: 30px;
    width: 70%;
    padding: 0.5rem 0.5rem;
}

.q-form-tags {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.q-form-tag {
    width: 80px;
    height: 25px;
    border-radius: 5px;
}

.q-form-id {
    padding: 0.5rem 1rem;
}
.q-form-input {
    outline: none;
    border: none;
    background: #c9c9c9;
    padding: 0.5rem 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }

  .q-form-input::placeholder {
    color: #797979;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }
  
  .q-form-description {
    width: 400px;
    height: 250px;
    margin-left: 20px;
  }

  .btn-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .submit-btn {
    justify-content: center;
    width: 80px;
    height: 50px;
    color: #fff;
    background: #52CC65;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
  }

  .cancel-btn {
    justify-content: center;
    width: 80px;
    height: 50px;
    color: #fff;
    background: #bebaba;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
  }

  .ghost-btn img {
    width: 40px;
    visibility: hidden;
}