
.question-container {
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 600px;
    gap: 20px;
    align-items: center;
}

.question {
    width: 500px;
    background: #e9e9e9;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    align-items: center;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.question:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.q-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.q-header span {
    padding: 0.5rem 1rem;
}

.q-name {
    display: flex;
    align-items: center;
    min-height: 60px;
    font-size: 25px;
    overflow: hidden;
}

.q-title {
    min-height: 30px;
    padding: 0.5rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;    
    white-space: nowrap;
}

.q-title-show {
    min-height: 30px;
    padding: 0.5rem 0.5rem;
    overflow: hidden;
}

.q-tag-container {
    display: block;
}

.q-tags {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    float: left;
}

.q-edit {
    float: right;
    margin-right: 10px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.q-edit img {
    width: 23px;
    height: 23px;
   
}
.q-edit:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.q-tag {
    min-width: 50px;
    width: fit-content;
    height: 20px;
    border-radius: 10px;
    background: #A98CD8;
    padding: 0.5rem 0.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

.q-id {
    padding: 0.5rem 1rem;
}

.q-description {
    width: 85%;
    margin-left: 20px;
    border: none;
    white-space: pre-line;
}

.q-content {
    max-height: 0;
    overflow: hidden;
}

.q-content-show {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.delete-btn {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    box-shadow: none;
}

.delete-btn img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.delete-btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.q-tag-green {
    background: #52CC65;
}

.q-tag-orange {
    background: #F4B335;
}

.q-tag-red {
    background: #F65252;
}

.q-tag-white {
    background: #FFFFFF;
}