
.find-match-button {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #fff;
    background: #52CC65;
    border: none;
    border-radius: 5px;
    font-size: 19px; 
    white-space: nowrap; 
    cursor: pointer;
  }
  
  